* {
  font-family: "Fira Sans", sans-serif;

}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.dark-mode .nav_link:hover {
  color: #fffffff3;
  background-color: #7c15dd4d;
  /* Your desired hover color in dark mode */
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --background: rgb(255, 255, 255);
  --background-color-hover: rgba(30, 245, 2, 0.986);
  --background-color-btn: #49a843;
  --background-color-li: #8000801c !important
}

body {
  background-color: #eaeaea;
  transition: all 0.5s ease;
}

body.dark {
  background-color: #333;
}

body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
  justify-content: space-evenly;
  gap: 28%
}


.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
}

img.DCKAPlOGO {
  position: absolute;
  left: 2rem;
}

.navbar img {
  height: 35px;
  object-fit: cover;
}

.search_bar {
  height: 47px;
  max-width: 464px;
  width: 100%;
  transition: border-radius 0.3s, border-color 0.3s;
}

.search_bar input:focus {
  border-color: #AA3EE2;
  outline: none;
  border-radius: 20px;

}

.search_bar input {
  height: 100%;
  width: 76%;
  border-radius: 20px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
  position: relative;
  left: -8rem;
}

i.fas.fa-search {
  position: absolute;
  top: 17px;
  left: 46%;
  margin-right: 1rem !important;
  margin-right: 2px solid gray;
  border-left: 1px solid #adadad;
  height: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: #5448489e;
}

img.profile {
  height: 35px;
  object-fit: cover;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}



/* sidebar */
.sidebar {
  background-color: var(--white-color);
  width: 224px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 0px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
  display: none;
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}

ul.set_items {
  position: relative;
  top: 15rem;
  padding: 4px 4px 4px 4px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: relative;
}

.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

.menu_items,
.set_items {
  padding: 0;
  list-style: none;
  margin: 0;
  margin-left: -9%;
}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--grey-color);
  margin-left: 11%;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: #333;
  background: var(--background-color-li);
}

.sidebar.close .nav_link:hover {
  background: var(--background-color-li);
  color: #333;
}

.submenu_item {
  cursor: pointer;
}

.menu_content {
  position: relative;
  top: 8%;
  left: 1rem;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu~.submenu {
  display: block;
}

.submenu .sublink {
  padding: 15px 15px 15px 52px;
}

.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
  width: 86%;
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}

.sidebar.close .bottom span {
  display: none;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

#sidebarOpen {
  display: none;
}

/* Dropdown Profile */




.profile_bar_list {
  top: 77px;
  width: 13%;
  background: rgb(255 255 255 / 78%);
  border-radius: 8px;
  color: rgb(18, 22, 10);
  position: absolute;
  right: 5%;
  display: none;
  border: 1px solid lightgray;
  cursor: pointer;
}

.Drop_Down,
.profile_down,
.Course_Down,
.profile_certicate,
.log_out {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.Drop_Down:hover,
.profile_down:hover,
.Course_Down:hover,
.profile_certicate:hover,
.log_out:hover {
  background-color: #8000801c;
}

i.fa.fa-user,
i.fa-solid.fa-book,
i.fa-solid.fa-award,
i.fa-solid.fa-right-from-bracket {
  width: 50%;
}

p.profile-name {
  width: 100%;
  align-items: flex-start;
  display: flex;
  font-weight: inherit;
  color: black;
  font-size: 14px;
}


/* search bar design */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 247px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 1px solid lightgray;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: #8000801c;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(228, 133, 43, 0.897);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}




/* Main_Content */
#Main_Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-left: 18%;
  width: 80%;
}

.progressing_bar {
  width: 100%;
}

.Enroll_heading {
  text-align: center;
  font-size: 22px;
  letter-spacing: -0.03em;
  line-height: 1.2;
  font-weight: 600;
  justify-content: center;
  margin: 6rem auto auto;
  position: relative;
  left: 3rem;
  cursor: pointer;
  width: 18%;
  color: #b95233;
}

.Enroll_heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #AA3EE2;
  transform: scaleX(0);
  transition: all .5s ease-in-out;
  border-radius: 10%;
}



.Enroll_heading:hover::after {
  transform: scaleX(1);
}


.Progress_container {
  width: 81%;
  display: flex;
  margin-left: 6rem;
  padding: 1%;
  gap: 1%;
  justify-content: start;
  position: relative;
  left: 10%;
}


.progress_langauge {
  width: 100%;
}

img.enroll_img {
  border-radius: 100%;
  width: 40%;
  margin: auto;
  display: flex;
}

.Progress_bar {
  width: 25%;
  padding: 1%;
  border-radius: 1rem;
  background: #f9f9fa;
  border: 1.8px solid #dce2e5;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 0 rgba(107, 127, 153, .5);
}

.Progress_bar:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
  transform: scale(.99);
}

p.enroll_language {
  text-align: center;
}

.percentage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.progress {
  color: darkslategray;
}

.List.Courses {
  width: 94%;
  margin-left: 3rem;
  margin-top: -4rem;
}


.Progress_bar_Course {
  width: 25%;
  border-radius: 1rem;
  background: #f9f9fa;
  border: 1.8px solid #dce2e5;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
}

.Course_point {
  padding: 2%;

}

.Progress_bar_Course:hover {
  transform: translateY(-4px);
  position: relative;
  border: 1.8px solid #dce2e5;
  padding: 0px;
  overflow: hidden;
  border-radius: 2rem;
}

.Course_description {
  width: 100%;
  display: flex;
  text-align: start;
  align-items: center;
}

img.Courseimg {
  height: 18%;
  width: 18%;
  border-radius: 100%;
  position: relative;
  bottom: 57px;
}

.course_card {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 77%;
  padding: 1rem 0rem;
  margin-left: 10rem;
  flex-wrap: wrap;
}

/* Profile Bar Navigation Css */

.profile_bar_list {
  top: 73px;
  width: 13%;
  background: rgb(255 255 255 / 78%);
  border-radius: 8px;
  color: rgb(18, 22, 10);
  position: absolute;
  right: 1%;
  display: none;
  border: 1px solid lightgray;
  cursor: pointer;
  border-radius: 2px;
}

.Drop_Down,
.profile_down,
.Course_Down,
.profile_certicate,
.log_out {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: space-between;
  border-radius: 2px;
  background-color: white;

}

.Drop_Down:hover,
.profile_down:hover,
.Course_Down:hover,
.profile_certicate:hover,
.log_out:hover {
  background-color: #AA3EE2;
  border-radius: 2px;
}
.hoverlist {
  color: white;
}


p.profile-name {
  width: 100%;
  align-items: flex-start;
  display: flex;
}

i.fa.fa-user,
i.fa-solid.fa-book,
i.fa-solid.fa-award,
i.fa-solid.fa-right-from-bracket {
  width: 50%;
}

.articles> :nth-child(-n+3) {
  margin-bottom: 12px;
}


/* Arcticle */

article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  width: 82%;
  border: 1px solid lightgray;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-size: 1.4rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  /* max-width: 100%; */
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
  width: 50%;
  /* height: 77%; */
  border-radius: 100%;
  margin: auto;
  display: flex;
  /* padding: 4%; */
  border-radius: 100%;
  width: 40%;
  padding: 7px 2px;
}

.article-body {
  padding: 24px;
  position: relative;
  top: -3rem;
}

.article-wrapper {
  height: 266px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #AA3EE2;
}

article a:focus {
  outline: 1px dotted #28666e;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 108px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

p.aboutlang {
  font-size: smaller;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #AA3EE2;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
body {
  margin: 0;
  padding: 48px 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #7c9885, #b5b682);
  min-height: 100vh;
} */

/* .articles {
  display: grid;
  max-width: 1067px;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  position: relative;
  left: 6rem;
  padding: 24px 0;
} */

.articles {
  display: grid;
  max-width: 969px;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  position: relative;
  left: 73px;
  padding: 24px 0;
}


/* Classlist */

.progress_classlist {
  width: 81%;
  margin-left: 4rem;
}

.arcticle_classlist {
  display: grid;
  max-width: 1067px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  position: relative;
  left: 6rem;
}


@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }

  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }

  .article-body {
    padding-left: 0;
  }

  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}



/* Media Queries */


@media screen and (max-width: 768px) {

  input[type="text"] {
    position: relative;
    left: 20%;
  }


  .navbar {
    padding: 15px;
    gap: 5%;
  }

  .search_bar input {
    left: 0;
  }

  .sidebar {
    width: 100px;
    padding: 60px 0;
  }

  .menu_title {
    padding: 6px 30px;
  }

  .sidebar .nav_link {
    margin-left: 0;
  }

  .bottom_content {
    width: 50px;
    left: 15px;
  }

  #Main_Content {
    margin-left: 0;
    width: 100%;
  }

  .Progress_container {
    margin-left: 0;
    justify-content: center;
    left: 0;
    width: 100%;
  }

  .Course_description {
    margin-left: 0;
  }

  .course_card {
    margin-left: 0;
    justify-content: center;
  }

  .profile_bar_list {
    width: 100px;
  }
}