body{
    max-width: 1837px;
    background-color: #82b76d;
    margin: 0;
    font-family: "Roboto";
    user-select: none;
}
.main_container {
    width: 100%;
}
.navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    height: 40px;
}
.nav_list {
    margin-top: 10px;
    display: flex;
    gap: 80px;
}
li {
    /* text-decoration: none; */
    list-style: none;
}
.nav_list a {
    text-decoration: none;
    color: #23313E;
}
.nav_list a:hover{
    color: #c84e2a;
}
.nav_list a:hover{
    text-decoration: underline;
    text-decoration-color: #82b76d;
}
.nav_login {
    width: 15%;
    margin-top: 9px;
    display: flex;
    gap: 12px;
    justify-content: center;
    /* margin-right: 40px; */
}
button.login {
    border: 1px solid lightgray;
    border-radius: 15px;
    border: none;
    width: 52%;
    height: 30px;
    background: none;
}
button.login:hover{
    background-color: #4abf48b3;
    color: white;
}
.login:hover +.sign_up{
    background: none;
    color: black;
}

button.sign_up {
    border-radius: 15px;
    border: none;
    width: 52%;
    height: 30px;
    background-color: #4abf48b3;
    color: white;
}
button.sign_up:hover{
    background-color: #c84e2a;
}
.container_1 {
    width: 95%;
    padding: 2%;
}
.content_1 {
    width: 50%;
}
.container_1_image {
    width: 45%;
    margin-top: 90px;
    margin-left: 100px;
}
p#para_1,p#para_2,p#para_3 {
    font-size: 80px;
    font-weight: 900;
    height: 16px;
}
span {
    color: white;
}
p#para_4 {
    position: relative;
    top: 50px;
    font-size: 31px;
    font-weight: 600;
}
.search_bar_container {
    padding: 2%;
}
input.search {
    width: 35%;
    height: 34px;
    padding: 17px;
    border-radius: 40px;
    border: none;
    outline: none;
}
/* ---------------------------------------- */
/* button.explore {
    width: 7%;
    height: 45px;
    position: relative;
    right: 120px;
    border-radius: 22px;
    background-color: #4abf48b3;
    color: white;
}
button.explore:hover{
    background-color: #39582c;
} */
/* --------------------------------------- */
.button_explore {
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #82b76d;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    border: none;
    margin-top: -57px;
    margin-left: 412px;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(2, 2, 2, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
}
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(17, 16, 16);
  }
  
  .button_explore:hover {
    background-color: #c84e2a;
    color: white;
    transition-duration: .5s;
  }
  
  .button_explore:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button_explore:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  
.container_2 {
    padding: 2%;
    margin-top: 30px;
}
.sub_container_2{
    justify-content: space-around;
    display: flex;
    margin-top: 90px;
}
.sub_container_3{
    justify-content: space-around;
    display: flex;
   
}
.content_2,.content_3,.content_4,.content_5,.content_6{
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    color: black;
}
.html_heading,.css_heading,.js_heading,.mysql_heading,.php_heading{
    text-align: center;
}
/* ----------------------------- */
/* button {
    background: none;
    border: none;
    color: #37d835b3;
}
button#enroll_btn:hover {
    color: #bc5717;
} */
/* ------------------------------ */
.enroll_btn {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #82b76d;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 161px;
    margin-left: 70px;
    height: 40px;
}
  
  .enroll_btn:hover {
   background-color: #c84e2a;
  }
  
  .enroll_btn > svg {
    width: 25px;
    margin-left: 15px;
    transition: transform .3s ease-in-out;
}
  
  .enroll_btn:hover svg {
    transform: translateX(5px);
  }
  
  .enroll_btn:active {
    transform: scale(0.95);
  }
  
.container_3 {
    padding: 1%;
    margin-top: 80px;
}
.container_4 {
    padding: 1%;
    display: flex;
    margin-top: 100px;
    margin-left: 80px;
    justify-content: space-between;
}
h1#head {
    color: white;
}
.footer {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 50px;
}
.footer_logo {
    margin-top: 70px;
}
.para {
    margin-top: 80px;
    color: black;
}
.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2.7em;
}
