/* Default styles */
html {
  height: 100%;
  width: 100%;
  min-width: 1600px;
}

body {
  max-width: 1600px;
  background-color: #8e498b;
  margin: 0;
  font-family: "Roboto";
  user-select: none;
}

@media (max-width: 1334px) {
  html,
  body {
    min-width: 100%;
  }

  .button_explore {
    margin-top: -57px;
    margin-left: 200px;
  }

  hr.line_1 {
    position: absolute; /* Add position property */
    right: 88%;
  }
}



.main_container {
  width: 100%;
}
.navbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0px 65px;
  height: 70px;
  position: sticky;
}
.logo {
margin-top: 10px;
}
.nav_list {
  font-weight: 300;
  margin-top: 24px;
  display: flex;
  gap: 80px;
  font-size: large;
}
li {
list-style: none;
}
.nav_list a {
text-decoration: none;
color: #23313E;
}
.nav_list a:hover{
color: #c84e2a;
}
.slide-controls {
  position: relative;
  display: flex;
  height: 35px;
  width: 9em;
  overflow: hidden;
  margin-top: 18px;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
  border: none;
  display: none;
  }
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background-color: #c84e2a;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
label.slide.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
label.slide.signup {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img#profile_img {
  width: 22%;
  margin-top: 11px;
  margin-right: 10px;
 
}
.login_parent{
  width:20%;
  display: flex;
  justify-content: flex-end;
}
.profile{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: flex-end;

  /* display: none; */
}
.container_1 {
  padding: 76px;
  width: 88%;
  display: flex;
}
.content_1 {
width: 60%;
}
#dckap {
color: #ffffff;
font-size: 20px;
font-weight: 300;
}
h1#heading_1 {
font-size: 55px;
font-weight: 800;
}

hr.line_1 {
  right: 89%;
  transform: rotate(90deg);
  width: 0px;
  height: 123px;
  background: blanchedalmond;
  position: absolute;
  top: 49%;
}
p#para_1 {
font-size: 28px;
font-weight: 200;
color: white;
}
.container_1_image {
width: 40%;
}
img#img_1 {
width: 100%;
margin-left: 15px;
}
.search_bar_container {
padding: 2%;
}
.search_bar {
margin-top: 20px;
}
input.search {
width: 56%;
height: 34px;
padding: 17px;
border-radius: 40px;
border: none;
outline: none;
position: relative;
right: 16px;
}

img.dckapimg {
    position: relative;
    bottom: 2rem;
}
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(17, 16, 16);
  }
  
  .button_explore {
    width: 120px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background-color: #c84e2a;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    border: none;
    margin-top: -57px;
    margin-left: 250px;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(2, 2, 2, 0.116);
    padding-left: 8px;
    transition-duration: .5s;
}
  
  .svgIcon {
    height: 25px;
    transition-duration: 1.5s;
  }
  
  .bell path {
    fill: rgb(17, 16, 16);
  }
  
  .button_explore:hover {
    background-color: #c84e2a;
    color: white;
    transition-duration: .5s;
  }
  
  .button_explore:active {
    transform: scale(0.97);
    transition-duration: .2s;
  }
  
  .button_explore:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  .container_2{
    padding: 90px;
    background-color: #eaeaea;
  }
  .content_2 {
    padding: 90px;
    margin-top: -100px;
  }

.bell path {
fill: rgb(17, 16, 16);
}

.button_explore:hover {
background-color: #c84e2a;
color: white;
transition-duration: .5s;
}

.button_explore:active {
transform: scale(0.97);
transition-duration: .2s;
}

.button_explore:hover .svgIcon {
transform: rotate(250deg);
transition-duration: 1.5s;
}
.container_2{
padding: 90px;
background-color: #eaeaea;
}
.content_2 {
padding: 90px;
margin-top: -100px;
}
h3#heading_2 {
text-align: center;
font-size: 36px;
font-weight: 300;
line-height: 25px;
}
hr.line_2 {
width: 10%;
color: black;
}
p#para_2 {
width: 60%;
margin-left: 20%;
font-size: 20px;
font-weight: 300;
}
.sub_comtainer_2 {
display: flex;
justify-content: space-evenly;
}
.content_3,.content_4,.content_5,.content_6,.content_7 {
background-color: #ffffff;
padding: 1%;
width: 324px;
border-radius: 10px;
color: black;
}
.html_heading,.css_heading,.js_heading,.mysql_heading,.php_heading{
text-align: center;
}
.container_3 {
margin-top: 80px;
}
.sub_container_3 {
display: flex;
justify-content: space-evenly;
}
.html_para,.css_para,.js_para,.mysql_para,.php_para {
font-size: 18px;
font-weight: 200;
}
.enroll_btn {
cursor: pointer;
font-weight: 700;
font-family: Helvetica,"sans-serif";
transition: all .2s;
padding: 10px 20px;
border-radius: 100px;
color: #ffffff;
background-color: #c84e2a;
border: 1px solid transparent;
display: flex;
align-items: center;
font-size: 15px;
width: 161px;
margin-left: 70px;
height: 40px;
}
.enroll_btn > svg {
width: 25px;
margin-left: 15px;
transition: transform .3s ease-in-out;
}

.enroll_btn:hover svg {
transform: translateX(5px);
}
.enroll_btn:active {
transform: scale(0.95);
}
section.container_4 {
padding: 90px;
display: flex;
}
.content_8 {
width: 100%;
}
.para_3 {
font-size: 20px;
font-weight: 300;
color: white;
}
.content_9 {
font-size: 40px;
text-align: center;
}
img#img_2 {
width: 62%;
margin-left: 160px;
}
section.container_5 {
padding: 90px;
background-color: #eaeaea;
}
.sub_container_5 {
width: 100%;
display: flex;
}
.map {
width: 50%;
}
.sub_content_9 {
width: 19%;
margin-left: 85px;
margin-top: 55px;
}
.content_11,.info {
font-size: 19px;
font-weight: 300;
}
span#color {
color: #c84e2a;
}
section.container_6 {
padding: 90px;
}
.footer_logo {
margin-top: 10%;
}
.footer {
display: flex;
justify-content: space-between;
}
a#change {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 300;
  padding: 6px;
  margin: 3px;
  margin-top: 0rem;
  margin-top: 0rem;
  position: relative;
  top: -10px;
}

h3#footer_title {
font-size: 36px;
font-weight: 600;
}
.copy_rigths {
margin-top: 22px;
}
p#para_4 {
color: white;
font-size: 22px;
font-weight: 300;
}
span#white {
color: white;
font-size: 22px;
font-weight: 300;
}
.resources {
  display: flex;
  flex-direction: column;
}