body {
    margin: 0;
    font-family: "Roboto";
    max-width: 1440px;
    background-color: white;
    user-select: none;
  
  }
  
  
  #LMS_Container {
    display: flex;
    height: 100vh;
  }
  
  #Side_Bar {
    color: black;
    padding: 16px;
    position: fixed;
    height: 100%;
    max-width: 160px;
    width: 100%;
    background-color: #f8fbf2;
    z-index: 5;
    border-right: 1px solid #e6e6e6;
  }
  
  #Main_Content {
    flex-grow: 1;
    padding: 0px;
    justify-content: space-between;
    margin-left: 13%;
    width: 100%;
  }
  
  /* LordIcon */
  
  lord-icon {
    width: 18px;
    position: relative;
    right: 25px;
  }
  
  /* li Icon */
  li {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  
  ul.nav-list li{
    color: #91a775ed;
  }
  
  /* Nav_Bar */
  
  .nav-list {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-link {
    display: block;
    color: #23313E !important;
  
    padding: 10px;
    text-decoration: none;
  }
  
  a.nav-settings {
    text-decoration: none;
    padding: 10px;
    display: flex;
    color: #23313E !important
  }
  
  ul.nav-list li.li-nav:hover {
    background-color: #99ecae75 !important;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul.nav-list li.nav-set:hover {
    background-color: #99ecae75 !important;
    border-radius: 5px;
  }
  
  li.nav-set {
    margin-top: 350px;
  }
  
  
  
  .Nav_Bar {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 60px;
    /* padding: 20px; */
    position: fixed;
    width: 85%;
    z-index: 1;
    top: 0;
    right: 2px;
    justify-content: space-evenly;
    gap: 21%;
    border-bottom: 1px solid #eaeaea;
  }
  
  .Search_Bar {
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1),
      0 0 10px rgba(255, 255, 255, 0.05);
    width: 50% !important;
  }
  
  /* Ifont class */
  i.fas.fa-search {
    position: relative;
    right: 30px;
    border-left: 1px solid #d8d6de;
    height: 35px;
    display: flex;
    align-items: center;
    color: #38b22d;
    background-color: transparent !important;
  }
  
  
  ::before {
    left: 5px;
    position: relative;
  }


  h1.profile_hdg {
    font-size: 24px;
    color: #12160a;
    font-family: "Roboto";
  }
  
  h1.profile_hdg {
    width: 15%;
  }
  
  .Search_Section {
    width: 70%;
    padding: 10px;
    border: 1px solid #d8d6de;
    background-color: #fff;
    font-size: 13px;
  
    outline: none;
    border-radius: 1.5rem;
  
  
  }
  
  .Search_Icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  
  .Profile_Bar {
    display: flex;
    align-items: center;
    gap: 12%;
    width: 10%;
  }
  
  img.Profile {
    width: 35px;
  }


/*......................................5_learning_card..........................*/

.tech_language_logo{

    height: 40px;
    width: 40px;
}

.top_content {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    width: 80%;
    justify-content: space-around;
}

.learning_5_card>* {
    width: 100%;
    height: 140px;
    /* text-align: center; */
    background-color: rgba(204, 204, 204, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

button.learn_more_btn {
    height: 32px;
    width: 120px;
    border: none;
    border-radius: 4px;
    background-color: rgba(170, 62, 226, 1);
    font-size: 14px;
    font-weight: bolder;
    /* padding: 7px; */
}

.learning_5_card {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 68%;
    row-gap: 44px   ;
    /* grid-template-rows: auto auto; */
    margin: 140px auto;
    /* background-color: lightblue; */
    column-gap: 10px;
}

.learning_card:nth-child(4),
.learning_card:nth-child(5){

    /* grid-row: 2;
    text-align: center; */

/* grid-column: span 3; */
    /* justify-self: center; */
    /* height: 100px; */
    position: relative;
    left: 134px;
}

button:hover{
    cursor: pointer;
}
